# Update apt cache
- name: Update apt cache
  apt:
    update_cache: yes


#  Install PostgreSQL packages (creates postgres user)
- name: Install PostgreSQL packages
  apt:
    name: "{{ postgres_packages }}"
    state: present


# Start and enable PostgreSQL service
- name: Start and enable PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Get PostgreSQL major version
  shell: psql -V | awk '{print $3}' | cut -d. -f1
  register: pg_version
  become: yes
  become_user: postgres


# Configure listen_addresses
- name: Configure PostgreSQL listen addresses
  lineinfile:
    path: "/etc/postgresql/{{ pg_version.stdout }}/main/postgresql.conf"
    regexp: "^#?listen_addresses"
    line: "listen_addresses = '{{ postgres_listen_addresses }}'"
  notify: restart postgresql


# Configure pg_hba.conf (password auth)
- name: Configure pg_hba.conf
  lineinfile:
    path: "/etc/postgresql/{{ pg_version.stdout }}/main/pg_hba.conf"
    insertafter: EOF
    line: "host all all 0.0.0.0/0 md5"
  notify: restart postgresql


#Create PostgreSQL database
- name: Create PostgreSQL database
  become: yes
  become_user: postgres
  postgresql_db:
    name: "{{ postgres_db }}"
    state: present

# Create PostgreSQL user
- name: Create PostgreSQL user
  become: yes
  become_user: postgres
  postgresql_user:
    name: "{{ postgres_user }}"
    password: "{{ postgres_password }}"
    state: present


# Grant privileges on database
- name: Grant privileges on database
  become: yes
  become_user: postgres
  postgresql_privs:
    db: "{{ postgres_db }}"
    role: "{{ postgres_user }}"
    privs: ALL
    type: database
